<app-admin-nav></app-admin-nav>

<div class="container rounded mt-5 bg-white p-md-5">
    <div class="h2 font-weight-bold">List of Approved Doctors</div>
    <div class="table-responsive mt-5 ">
        <table class="table col-12 ">
            <thead>
                <tr>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">Contact No</th>
                    <th scope="col">Age</th>
                    <th scope="col">Experience</th>
                    <th scope="col">Hospital Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Area</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                <tr class="bg-blue" *ngFor="let doctor of doctors">
                    <td class="pt-2 ">
                        <!-- <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="rounded-circle" alt=""> -->
                        <div class="  ">{{doctor.firstName}} {{doctor.lastName}}</div>
                    </td>
                    <td class="pt-3 mt-1 name">{{doctor.emailId}}</td>
                    <td class="pt-3 mt-1 name">{{doctor.mobileNumber}}</td>
                    <td class="pt-3 mt-1 name">{{doctor.age}}</td>
                    <td class="pt-3 mt-1 name">{{doctor.experience}}</td>
                    <td class="pt-3 mt-1 name">{{doctor.hospitalName}}</td>
                    <td class="pt-3 mt-1 name">{{doctor.hospitalAddress}}</td>
                    <td class="pt-3 mt-1 name">{{doctor.area}}</td>
                    <td class="pt-3 mt-1">{{doctor.city}}</td>
                    <td class="pt-3">{{doctor.state}}</td>
                    <!-- <td class="pt-3"><span class="fa fa-check pl-3">pending</span></td>
                    <td class="pt-3"><span class="fa fa-ellipsis-v btn">update</span></td> -->

                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>