<div id="aboutUs-cont" class="d-flex justify-content-center align-items-center">
    <div id="inner-main-cont" class="container col-lg-10">

        <header class="section-header mb-5">
            <h3 style="text-align:center; font-size: 3rem;margin-top: auto;">About Us</h3>
            <p class="mt-2" style="text-align:center; font-style: italic;">Welcome to LoaND, your number one source
                for
                all things finance.
                No matter how much you know about a particular medical field, as a health care professional,
                you always need to be thinking about what’s next. Thanks to advances in technology,
                new clinical studies, and ever-changing health care policy, there’s always more to know.</p>
            <p class="mt-2" style="text-align:center; font-style: italic;">
                To help ease the process, we identified 75 of our favorite medical blogs everyone in the field can learn
                from. Whether you’re pondering medical school, have been a physician for years, or simply want to know
                how to make well-informed decisions about your health, there’s something on this list for everyone.
                Keep this list of medical blogs handy and the answers to your medical questions will always
                be just a few clicks away.
            </p>

            <p style="text-align:center; font-weight: bolder; font-style: italic;">
                Sincerely,
            </p>
            <p style="text-align:center; font-weight: bolder; font-size: 1rem;">
                MediCo Private Limited.
            </p>
        </header>

        <div class="row justify-content-around m-0 mt-5 p-0">

            <div class="card bg-dark col-lg-3 mb-1 p-2"
                style=" border-radius:3%; border-color: white; border-width: 3px; color:white">
                <img src="/assets/abt1.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center flex-column">
                    <h3 class="card-title" style="text-align:center;">OUR PLAN</h3>
                    <p class="card-text" style="text-align: center;">“The Online platform provides you with a safe and
                        easier way fro Medicare
                        facilities.The creativity lies in doing the same thing in
                        a
                        different way. </p>
                </div>
            </div>

            <div class="card bg-dark col-lg-3 mb-1 p-2"
                style=" border-radius:3%; border-color: white; border-width: 3px; color:white">
                <img src="/assets/abt2.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center flex-column">
                    <h3 class="card-title" style="text-align:center;">OUR MOTTO</h3>
                    <p class="card-text" style="text-align: center;">“The creativity lies in doing the same thing in
                        a
                        different way. You have the
                        talent to make it true with your hard work and dedication. Take on any challenge and make it
                        smoother the way you want.”</p>
                </div>
            </div>

            <div class="card bg-dark col-lg-3 mb-1 p-2"
                style=" border-radius:3%; border-color: white; border-width: 3px; color:white">
                <img src="/assets/abt3.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center flex-column">
                    <h3 class="card-title" style="text-align:center;">OUR VISON</h3>
                    <p class="card-text" style="text-align: center;">To achieve sustainable growth, we have
                        established
                        a vision with clear goals:

                        Profit: Maximizing return to share owners while being mindful of our overall
                        responsibilities.

                        People: Being a great place to work where

                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>