<app-doc-navbar></app-doc-navbar>

<div class="container-fluid doc-home vw-100 vh-100 d-flex justify-content-center align-items-center">
    <div class="container d-flex  justify-content-center align-items-center">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="container d-flex flex-column justify-content-center align-items-center">
                    <h1>Welcome to <span>MediCo</span></h1>
                    <br>
                    <h3>Doctor Home</h3>
                    <p>Let's make some lives better today !!</p>
                    <button (click)="viewAppointments()" class="btn btn-primary btn-lg scrollto">View Pending
                        Appointments</button>
                </div>
            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>