<app-logged-nav></app-logged-nav>

<div class="myclass d-flex justify-content-center align-items-center">


    <div class="d-flex justify-content-center align-items-center  ml-5 mr-5 p-5 welcomeBoard">
        <div style="
       display: flex;flex-direction: column; align-items: center;">
            <div style="font-size: 5rem; font-weight: bold; color:white;">
                Welcome to Medico</div>
            <div style="font-size: 2.5rem; font-weight: bold;">
                <input type="button" (click)="viewDoctors()" class="btn btn-lg btn-danger mb-5"
                    value="Book Appointment" />
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>