<div class="container-fluid vh-100 vw-100 d-flex justify-content-center align-items-center">

    <div class=" col-md-5  card border-10 rounded-0">

        <div class=" col-xs-12 card border-0 rounded-0 card0">
            <h1 style="text-align: center; font-style:normal;font-weight: bold;margin-bottom: 10%;">Doctor Login</h1>
            <!-- <p>Please login with your account</p> -->
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label label class="font-weight-bold mb-0">Username :</label>
                    <input type="text" [(ngModel)]="doctor.username" class="form-control" id="username" name="username">
                </div>

                <div class="form-group">
                    <label class="font-weight-bold mb-0"> Password : </label>
                    <input type="password" [(ngModel)]="doctor.password" class="form-control" id="password"
                        name="password">
                </div>
                <div class="row justify-content-center mt-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                </div>
            </form>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account?
                </div>
                <a href="doctor/register" class="d-flex justify-content-center ml-2">Sign Up</a>
                <div class="d-flex justify-content-center links mt-3">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>

        </div>
    </div>

</div>