<app-logged-nav></app-logged-nav>
<div class="container">
    <div class="card mx-auto mt-5">
        <div class="card-body">
            <div class="mb-3"><img
                    src="https://thumbs.dreamstime.com/z/smiling-female-doctor-holding-medical-records-lab-coat-her-office-clipboard-looking-camera-56673035.jpg"
                    width="200" /></div>
            <h3 class="card-title">Patient Profile</h3>
            <h6 class="card-subtitle mb-2 text-muted">Following are the details for Patient : {{patient.userName}}</h6>
            <div class="row rone mt-4">
                <div class="col-md-6">
                    <p class="text-muted"><i class="far fa-check-circle"></i>First Name: {{patient.firstName}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Last Name: {{patient.lastName}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Contact: {{patient.mobNo}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Email: {{patient.emailId}}</p>

                </div>
                <div class="col-md-6">
                    <p class="text-muted"><i class="far fa-check-circle"></i>Age: {{patient.age}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Height (cms): {{patient.height}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Weight (kgs): {{patient.weight}}</p>
                    <p class="text-muted"><i class="far fa-check-circle"></i>Gender: {{patient.sex}}</p>
                </div>

            </div>
            <div class="d-flex ">
                <button type="button" (click)="toHomePage()"
                    class="col-md-3 btn btn-dark mt-3  "><span>Back</span></button>
                <button type="button" (click)="updatePatient(patient.id)"
                    class="col-md-3 btn btn-success mt-3 ml-5"><span>Edit Profile</span></button>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>