<footer class=" footer site-footer mt-2">
    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-12 col-md-6">
			  <h6>About</h6>
			  <p class="text-justify">We live and breathe words. .... It was books that made me feel that perhaps I was not completely alone. They could be honest with me, and I with them. Reading your words, what you wrote, how you were lonely sometimes and afraid, but always brave; the way you saw the world, its colors and textures and sounds, I felt--I felt the way you thought, hoped, felt, dreamt. I felt I was dreaming and thinking and feeling with you. I dreamed what you dreamed, wanted what you wanted--and then I realized that truly I just wanted you.”</p>
			</div> -->

            <div class="col-xs-6 col-md-5">
                <h6>About</h6>
                <ul class="footer-links">
                    <li><a href="aboutus">AboutUs</a></li>
                    <!-- <li><a href="notesapp.com">Services</a></li> -->
                    <li><a href="notesapp.com">Terms & Conditions</a></li>
                    <!-- <li><a href="notesapp.com">Home</a></li> -->
                    <li><a href="notesapp.com">Our Team</a></li>
                    <li><a href="index">Home</a></li>
                    <!-- <li><a href="notesapp.com">Other Businesses</a></li> -->
                </ul>
            </div>

            <div class="col-xs-6 col-md-5">
                <h6>Contact Us</h6>
                <ul class="footer-links">
                    <li><a href="notesapp.com">Website :-www.medico.org</a></li>
                    <li><a href="notesapp.com"></a></li>
                    <!-- <li><a href="notesapp.com">your health</a></li> -->
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">MediCo</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>