@import url('https://fonts.googleapis.com/css?family=Lobster');
.navbar .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
  }

.brand-name{
    font-family : 'Lobster', cursive;
}

.dropdown-menu {
    width: 200px;
    border: 2px solid #F44336;
    padding: 0rem 0;
    transform: translate3d(0px, 50px, 0px) !important
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    background-color: #dc3545;
    padding: 12px
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 12px
}

body {
    background-color: #F5F5F5
}

.mt-200 {
    margin-top: 200px
}

.dropbtn {
    background-color: #2196F3;
    color: white;
    padding: 6px;
    font-size: 14px;
    border: none;
    border-radius: 3px
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown:hover .dropbtn {
    background-color: #097ee8
}